.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 350px;
  }

.header i{
    position: absolute;
    z-index: 9;
    color: black;
    padding: 8px 15px;
    font-size: smaller;
  }

  .searchBoxInput::placeholder{
    font-size: small;
  }
  
  .searchBoxInput{
    border-radius: 3px;
    outline: none;
    padding: 5px 40px;
    font-size: small;
  }
   
  .dataListItem{
    background-color: white;
    text-align: left;
    font-size: small;
    color: rgb(17, 17, 17);
  }